@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

input {
  width: 100%;
  border: none;
  outline: none;
}
:root {
  /* ===== Colors ===== */
  --primary-color: #0e4bf1;
  --panel-color: #fff;
  --text-color: #111111;
  --special-color: #ee2a7b;
  --black-light-color: #707070;
  --border-color: #e6e5e5;
  --toggle-color: #ddd;
  --box1-color: #fff;
  --box2-color: #ffe6ac;
  --box3-color: #e7d1fc;
  /* --title-icon-color: #fff; */
  --nav-color: #fbc81e;

  /* ====== Transition ====== */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-03: all 0.2s ease;
}

body {
  min-height: 100vh;
  display: flex;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
/* ---------------------------Section 1------------------------------------- */
.error{
  display: flex;
  justify-content: center;
  position: absolute;
  top: -110%;
  left: 0;
  width: 100vw;
  text-align: center;
  background-color: #ee2a7b;
  z-index: 99;
  color: #ddd;
  padding: 1rem;
  transition: var(--tran-05);
}

.error span{
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 24px;
}


.error_show{
  top: 0;
}
.Forgotpassword {
  width: 22.75rem;
}

.Forgotpassword_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.125rem;
}

.Forgotpassword_tittle {
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.input_box {
  width: 100%;
}

.input_box input {
  width: 100%;
  padding: 17px;
  border-radius: 32px;
  background: rgba(240, 237, 255, 0.8);
}

.input_box input::placeholder {
  color: #1c1c1c;
  font-size: 0.75rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}

.Forgotpassword_btn {
  width: 100%;
}

.Forgotpassword_btn input {
  width: 100%;
  padding: 17px;
  border-radius: 32px;
  background: linear-gradient(100deg, #fddb64 -5.85%, #ff66c4 109.55%);
  box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.16);
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* ---------------------------Section 2------------------------------------- */
.section_2 {
  background: linear-gradient(
    218deg,
    rgba(255, 7, 160, 0.46) 35.2%,
    rgba(253, 219, 100, 0.59) 68.62%
  );
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.188rem 2.188rem 9.438rem 2.188rem;
  border-radius: 46px;
  border: 1px solid rgba(255, 255, 255, 0.52);
  background: #fff;
  backdrop-filter: blur(6.800000190734863px);
}

.banner_text {
  margin-top: 3.938rem;
  width: 22.813rem;
  color: #ee2a7b;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}
