<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>Controllers.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>Controllers.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>Controllers.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>Controllers.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayStatus</servlet-name>
        <servlet-class>com.vnpay.common.vnpayStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controllers.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>ForgotPassword.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OTP</servlet-name>
        <servlet-class>ForgotPassword.OTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>ForgotPassword.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopController</servlet-name>
        <servlet-class>Controllers.ShopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController2</servlet-name>
        <servlet-class>Controllers.SignupController2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>Controllers.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productAdminController</servlet-name>
        <servlet-class>Controllers.productAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandController</servlet-name>
        <servlet-class>Controllers.BrandController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentController</servlet-name>
        <servlet-class>com.vnpay.common.paymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RatingController</servlet-name>
        <servlet-class>Controllers.RatingController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BrandController</servlet-name>
        <url-pattern>/addNewBrand/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/Account/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/Admin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/Order/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/Product/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/Cart/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.gif</url-pattern>
        <url-pattern>*.svg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OTP</servlet-name>
        <url-pattern>/OTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopController</servlet-name>
        <url-pattern>/Shop/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController2</servlet-name>
        <url-pattern>/SignUp/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/Profile/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productAdminController</servlet-name>
        <url-pattern>/Admin/Product/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>com.vnpay.common.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>com.vnpay.common.vnpayRefund</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayquery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayrefund/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayStatus</servlet-name>
        <url-pattern>/vnpayStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandController</servlet-name>
        <url-pattern>/BrandController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/addNewCategory</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>Controllers.CategoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>paymentController</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RatingController</servlet-name>
        <url-pattern>/RatingController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
