# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SWP_PROJECT\SWP_FINAL\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
